extends ../layouts/application.pug

block header
  = t('views.statuses.new.title')

block content
  .card.bg-white.p-4.col-12.col-md-6
    +formFor()(action=route('statuses') method='post')
      +input(statuses, 'name', 'views.statuses.name', errors)(type="text")
      +submit(statuses)(value=t('views.statuses.new.submit'))
