extends ../layouts/application.pug

block header
  = t('views.session.new.signIn')

block content
  .card.bg-white.p-4.col-12.col-md-6
    +formFor()(action=route('session') method='post')
      +input(signInForm, 'email', 'views.users.email', errors)(type="text")
      +input(signInForm, 'password', 'views.users.password')(type="password")
      +submit(signInForm)(value=t('views.session.new.submit'))
